```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py~
*.pyc~
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.MF
venv/
env/
ENV/
.venv/
.env/
.ENV/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/modules/
.DS_Store
Thumbs.db
```